<h1>Add a new creature</h1>


<form action="/prehistoric_creatures " method="POST">
    <label for="creaturesType">Type</label>
    <input type ="text" name ="type" id="creaturesType">

    <label for="creaturesName">Name</label>
    <input type ="text" name ="img_url" id="creaturesName">

    
    <input type="submit">
</form>